/.idea
/.vagrant
/node_modules
/public/storage
/storage/*.key
/vendor
.env
.sass-cache
composer.lock
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
package.json
phpunit.xml
storage
._.DS_Store
.DS_Store
nbproject/
